@model IEnumerable<web.Models.Dormitory>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Dormitories</h1>

<p>
    <a asp-action="Create">+ New Dormitory</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DormitoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JanitorPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DormitoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JanitorPhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DormitoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DormitoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DormitoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
