@model IEnumerable<web.Models.Enrollment>
@using Microsoft.AspNetCore.Identity
@using web.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager 

@{
    ViewData["Title"] = "Index";
}


@if(SignInManager.IsSignedIn(User)&&User.IsInRole("Student")) {
<h1>My Enrollments</h1>
}else{
    <h1>List of Enrollments</h1>
    <p>
        <a asp-action="Create">+ New Enrollment</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            @if(SignInManager.IsSignedIn(User)&&User.IsInRole("Administrator")) {
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(SignInManager.IsSignedIn(User)&&User.IsInRole("Student")) {
    @foreach (var item in Model) {
        @if(item.StudentID==(await UserManager.FindByIdAsync(UserManager.GetUserId(User))).StudentId){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EnrollmentID">Delete</a>
                </td>
                
            </tr>
        }  
    }
}else{
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
            <a asp-action="Edit" asp-route-id="@item.EnrollmentID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.EnrollmentID">Delete</a>
        </td>
            
        </tr>
    }
}

    </tbody>
</table>
